[Unit]
Description=Lua Remote Hub - IR Receiver Gateway (IR to HA)
After=network.target

[Service]
WorkingDirectory=/usr/share/lua-remote-hub/lua
ExecStart=/usr/bin/lua /usr/share/lua-remote-hub/lua/gateway_rx.lua
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
